In [12]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [4]:
df = pd.read_csv('batch1.csv', index_col=0)

In [18]:
df.head()

   row           long            lat  zipcode In_mhtn
0    1  985008.599220  202278.008804    10012    True
1    2  993335.599589  229491.014604    10025    True
2    3  989622.599846  205260.009556    10009    True
3    4  991706.599858  216644.011513    10022    True
4    5  989256.599821  206819.009923    10003    True

In [6]:
df['zipcode'] = df['zipcode'].astype('int64')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 4 columns):
row        100000 non-null int64
long       100000 non-null float64
lat        100000 non-null float64
zipcode    100000 non-null int64
dtypes: float64(2), int64(2)
memory usage: 3.8 MB

In [8]:
zipcodes = pd.read_csv('Zipcodes.csv')

In [9]:
mhtn_zips = zipcodes['Manhattan'].unique()

In [19]:
df['In_mhtn'] = False

In [20]:
for n in tqdm(range(0,len(df))):
    df['In_mhtn'][n] = (df['zipcode'][n] in mhtn_zips)

HBox(children=(IntProgress(value=0, max=100000), HTML(value='')))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [16]:
df.head(10)

   row           long            lat  zipcode In_mhtn
0    1  985008.599220  202278.008804    10012    True
1    2  993335.599589  229491.014604    10025    True
2    3  989622.599846  205260.009556    10009    True
3    4  991706.599858  216644.011513    10022    True
4    5  989256.599821  206819.009923    10003    True
5    6  984945.599000  200206.008236    10013    True
6    7  981509.598055  207601.009718    10014    True
7    8  997932.600887  220975.012918    10028    True
8    9  998729.600761  226830.014094    10029    True
9   10  999357.600733  236475.015826    10030    True

In [ ]:
df.to_csv('batch1done.csv')