In [9]:
import pandas as pd

In [10]:
df_b1 = pd.read_csv('batch1done.csv', index_col=0)
df_b2 = pd.read_csv('batch2done.csv', index_col=0)
df_b3 = pd.read_csv('batch3done.csv', index_col=0)
df_b4 = pd.read_csv('batch4done.csv', index_col=0)
df_b5 = pd.read_csv('batch5done.csv', index_col=0)
df_b6 = pd.read_csv('batch6done.csv', index_col=0)
df_b7 = pd.read_csv('batch7done.csv', index_col=0)
df_b8 = pd.read_csv('batch8done.csv', index_col=0)
df_b9 = pd.read_csv('batch9done.csv', index_col=0)
df_b10 = pd.read_csv('batch10done.csv', index_col=0)
df_b11 = pd.read_csv('batch11done.csv', index_col=0)
df_b12 = pd.read_csv('batch12done.csv', index_col=0)
df_b13 = pd.read_csv('batch13done.csv', index_col=0)
df_b14 = pd.read_csv('batch14done.csv', index_col=0)
df_b15 = pd.read_csv('batch15done.csv', index_col=0)

In [11]:
df_b1.set_index('row', inplace=True)
df_b2.set_index('row', inplace=True)
df_b3.set_index('row', inplace=True)
df_b4.set_index('row', inplace=True)
df_b5.set_index('row', inplace=True)
df_b6.set_index('row', inplace=True)
df_b7.set_index('row', inplace=True)
df_b8.set_index('row', inplace=True)
df_b9.set_index('row', inplace=True)
df_b10.set_index('row', inplace=True)
df_b11.set_index('row', inplace=True)
df_b12.set_index('row', inplace=True)
df_b13.set_index('row', inplace=True)
df_b14.set_index('row', inplace=True)
df_b15.set_index('row', inplace=True)

In [12]:
df = pd.concat([df_b1,df_b2,df_b3,df_b4,df_b5,df_b6,df_b7,df_b8,df_b9,df_b10,df_b11,df_b12,df_b13,df_b14,df_b15])

In [13]:
df.head()

              long            lat  zipcode  In_mhtn
row
1    985008.599220  202278.008804    10012     True
2    993335.599589  229491.014604    10025     True
3    989622.599846  205260.009556    10009     True
4    991706.599858  216644.011513    10022     True
5    989256.599821  206819.009923    10003     True

In [14]:
df.shape

(1436324, 4)

In [15]:
df.to_csv('all_batches_done.csv')