In [1]:
import pyproj
from pyproj import Proj, transform
from tqdm import tqdm_notebook as tqdm
import pandas as pd

In [2]:
df = pd.read_csv('df_mhtn.csv')

In [7]:
df.shape

(1436324, 8)

In [8]:
df.head()

,Unnamed: 0,date_time,ADDR_PCT_CD,LAW_CAT_CD,Latitude,Longitude,date,time
0,0,2006-01-01 00:01:00,5.0,MISDEMEANOR,40.721883,-73.997263,2006-01-01,00:01:00
1,1,2006-01-01 00:01:00,24.0,MISDEMEANOR,40.796571,-73.967186,2006-01-01,00:01:00
2,2,2006-01-01 00:01:00,9.0,MISDEMEANOR,40.730066,-73.980615,2006-01-01,00:01:00
3,3,2006-01-01 00:01:00,18.0,MISDEMEANOR,40.761311,-73.973083,2006-01-01,00:01:00
4,4,2006-01-01 00:01:00,13.0,MISDEMEANOR,40.734346,-73.981935,2006-01-01,00:01:00

In [11]:
inProj = Proj(init='epsg:4326')
outProj = Proj(init='epsg:2263')

In [ ]:
coor_list= []
i = 0
x = 15
freq = 100000
for n in tqdm(range(i,len(df))):
    i +=1
    x1,y1 = df['Longitude'][n], df['Latitude'][n]
    x2,y2 = transform(inProj,outProj,x1,y1)
    coor_list.append((i,x2,y2))
    if i == x*freq:
        print(f"autosave {x}")
        temp_df = pd.DataFrame(coor_list,columns = ['row',"long",'lat'])
        temp_df.to_csv(f"long_lat_save_{x}.csv", index = False)
        coor_list= []
        x+=1
    temp_df = pd.DataFrame(coor_list,columns = ['row',"long",'lat'])
    temp_df.to_csv(f"long_lat_save_{x}.csv", index = False)

HBox(children=(IntProgress(value=0, max=36324), HTML(value='')))